<body class="admin-animals">
<div class="well admin-animal-list">

<h1>Edit Animals</h1>
<% @animals.each do |animal|%>
<h4>
&nbsp&nbsp<%= link_to animal.name, edit_admin_animal_path(animal)  %>
<br>
</h4>
<% end %>
</div>
</body>
