<body class="dashboard">
  <div class="text-center">
    <h1 class="header-white text-center">Welcome, <%= @user.username %></h1>
    <div class="well category-list">
      <h3><%= link_to "My Orders", orders_path %></h3>
    </div>
  </div>
</body>
