<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
        <hgroup>
            <h1>Take a Walk on the Wild Side</h1>
            <h3>Own an exotic pet today</h3>
        </hgroup>
        <%= link_to "Browse All Animals", animals_path, class: "btn btn-lg btn-info" %>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero">
        <hgroup>
            <h1>Experience the Great Outdoors</h1>
            <h3>In the comfort of your own home</h3>
        </hgroup>
        <%= link_to "Browse All Animals", animals_path, class: "btn btn-lg btn-info" %>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
      <div class="hero">
        <hgroup>
            <h1>Play Soccer with a Monkey</h1>
            <h3>That's just amazing</h3>
        </hgroup>
        <%= link_to "Browse All Animals", animals_path, class: "btn btn-lg btn-info" %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-sm-4" id="about-us">
      <h1>ABOUT US</h1>
      We provide an opportunity for ordinary people to own extraordinary animals.
    </div>
    <div class="col-sm-4" id="about-us">
      <h1>OUR ANIMALS</h1>
      We guarantee that all animals will arrive happy and healthy.
    </div>
    <div class="col-sm-4" id="about-us">
      <h1>SUPPORT</h1>
      Purchasing an exotic pet gives you access to a professional network of animal specialists who are ready to answer any questions about your animal.
    </div>
  </div>
<div class="divider">
  <div class="global-footer">
     <h5 class="bottom">copyright sixteen-oh-five</h5>
  </div>
</div>
