<body class="create-animal">
  <div class="text-center">
    <h1 class="header-white">Create an Animal</h1>
  </div>
  <br>
  <div class ="well new-form">
    <%= render partial: 'shared/animal_form' %>
  </div>
</body>
