<div class="text-center">
<%= @animal.name %>
<br>
<%= image_tag(@animal.image_path, :class => "img-rounded") %>
<br>
<%= @animal.description %>
<%= button_to "Add to Cart", cart_animals_path(animal_id: @animal.id), class: "btn btn-success" %>
</div>
