<body class="secret-background">
  <div class="text-center">
    <h1 class ="well order-table">Welcome to the secret animal GIF generator!</h1>

    <%= link_to "Generate Animal!", secret_path, class: "btn btn-lg btn-hero" %>
    <br><br>

    <%= image_tag @image_path %>
    <br><br>

  </div>
</body>
