/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url(https://fonts.googleapis.com/css?family=Lato);
 @import url(https://fonts.googleapis.com/css?family=Taviraj);

body {
  font-family: 'Lato';
}

.navbar-default {
  background-color: rgba(150, 150, 150, .65);;
  border: none;
  font-family: 'Lato';
  font-color: #FFFFFF;
}

.navbar-default .navbar-brand {
  font-family: 'Lato';
  font-size: 30px;
  color: #FFF;
}

.navbar-default .navbar-nav > li > a {
  padding: 20px 20px;
  text-transform: uppercase;
  cursor: auto;
  font-family: 'Lato';
  color: white;
}
.navbar-default .navbar-nav > li > a:hover {
  text-decoration: underline;
  color: white;
}

.btn-styled {
  font-family: 'Lato';
  padding: 5px;
}

.btn-fancy {
  color: #f5f5f5;
  background-color: #1abc9c;
  border-color: #1abc9c;
  outline: none;
  margin: 20px auto;
}

.title {
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0,0,0,.75);
    -webkit-transform: translate3d(-50%,-50%,0);
       -moz-transform: translate3d(-50%,-50%,0);
        -ms-transform: translate3d(-50%,-50%,0);
         -o-transform: translate3d(-50%,-50%,0);
            transform: translate3d(-50%,-50%,0);
}

body.login {
  background: url("https://wallpapers.pub/web/wallpapers/green-iguana/1920x1080.jpg") no-repeat center center fixed;
}

body.login,
body.signup,
body.create-animal,
body.dashboard,
body.admin-dashboard,
body.animals-index, {
  padding-left: 80px;
  padding-left: 80px;
  background-size: 100%;
}

.category-index {
  padding-top: 80px;
  background: url("http://cdn.wallpapersafari.com/0/30/Iu7N1E.jpg") no-repeat center center fixed;
  background-size: 100%;
}

.empty-cart {
  background: url("http://img2.rnkr-static.com/list_img_v2/8544/2108544/full/funny-bird-names-u2.jpg") no-repeat center center fixed;
  background-size: 100%;
}

.full-cart {
  background: url("https://pixabay.com/static/uploads/photo/2014/08/01/00/08/pier-407252_960_720.jpg") no-repeat center center fixed;
  background-size: 100%;
}

.animal {
  background: url("https://wallpapers.pub/web/wallpapers/valley-wallpaper/1920x1080.jpg") no-repeat center center fixed;
}

.animal-show {
  background: url("https://wallpapers.pub/web/wallpapers/jungle-river/1920x1080.jpg") no-repeat center center fixed;
}

.order-index {
  background: url("https://wallpapers.pub/web/wallpapers/birds-water-spray-wallpaper/1920x1080.jpg") no-repeat center center fixed;
  background-size: 100%;
}

.order-show-page {
  background: url("https://aos.iacpublishinglabs.com/question/aq/1400px-788px/natural-resources-african-savanna_5e4deadc068a7348.jpg?domain=cx.aos.ask.com") no-repeat center center fixed;
}

body.animals-index {
  background-color: #c9c9c9;
}

body.signup {
  background: url("https://wallpapers.pub/web/wallpapers/penguin-antarctica/1920x1080.jpg") no-repeat center center fixed;
}

body.create-animal {
  background: url("https://wallpapers.pub/web/wallpapers/king-of-beasts/1920x1080.jpg") no-repeat center center fixed;
}

body.dashboard {
  background: url("https://wallpapers.pub/web/wallpapers/hummingbird-hd/1920x1080.jpg") no-repeat center center fixed;
}

body.admin-dashboard {
  background: url("https://wallpapers.pub/web/wallpapers/humpback-whale-tail/1920x1080.jpg") no-repeat center center fixed;
}

body.admin-animals {
  background: url("https://wallpapers.pub/web/wallpapers/jaguar-in-mountains/1920x1080.jpg")
}

.admin-animal-list {
  background-color: rgba(245, 245, 245, 0.7);
  margin: 40px;
  max-width: 30%;
  padding: 20px;
}
.new-form {
  background-color: rgba(245, 245, 245, 0.7);
  margin: left;
  max-width: 30%;
  padding: 20px 20px 20px 20px;
}

.shared-form {
  margin: left;
}

table.form > tr > td {
  font-size: 16px;
  font-weight: bold;
  padding: 20px 20px 20px 20px;
}

img.animal-show {
  width: 300px;
  height: 300px;
  border-radius: 10px 10px 10px 10px;
  object-fit: cover;
}

img.animal-cart {
  width: 100px;
  height: 100px;
  border-radius: 90px 90px 90px 90px;
  object-fit: cover;
}

h1.header-white {
  color: #fff;
  text-transform: uppercase;
  font-family: 'Taviraj';
  font-style: italic;
}

.animal-info {
  background-color: rgba(245, 245, 245, 0.7);
  margin: auto;
  max-width: 40%;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0,0,0,.75);
}

.animal-name {
  background-color: rgba(245, 245, 245, 0.7);
  margin: auto;
  max-width: 40%;
}

.animal-image {
  padding: 10px;
}

.category-header {
  padding-top: 60px;
  background-color: rgba(245, 245, 245, 0.6);
  margin: auto;
  max-width: 40%;
}

.category-list {
  background-color: rgba(245, 245, 245, 0.6);
  margin: auto;
  max-width: 40%;
}

.order-index-table {
  background-color: rgba(245, 245, 245, 0.8);
  margin: auto;
}

.order-table {
  background-color: rgba(245, 245, 245, 0.7);
  margin: auto;
}

#wrapper {
	width: 90%;
	max-width: 1100px;
	min-width: 800px;
	margin: 50px auto;
}

#columns {
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 15px;
	column-fill: auto;
}

.pin {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;

	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.pin img {
	width: 100%;
	// border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.pin p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
}

@media (min-width: 960px) {
	#columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}
}

.fade-carousel {
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 10s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
         -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
         -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
}

.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url(https://wallpapers.pub/web/wallpapers/tiger-portrait/3840x2160.jpg);
}
.fade-carousel .slides .slide-2 {
  background-image: url(https://wallpapers.pub/web/wallpapers/common-basilisk-lizard/1920x1080.jpg);
}
.fade-carousel .slides .slide-3 {
  background-image: url(http://best-wallpaper.net/wallpaper/1920x1440/1504/Monkey-play-football_1920x1440.jpg);
}

.section {
  padding: 20px 20px 20px 20px;
}

.footer {
  background-color: #fff;
  position: relative;
  margin-top: -150px;
  height: 150px;
  clear:both;
  padding-top:20px;
}
