/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 #empty_cart_bg {
   background-color: #263d36;
   background-image: url("https://pixabay.com/static/uploads/photo/2015/09/02/13/08/nest-918898_960_720.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   line-height: 1.2;
   padding: 10vw 2em;
   text-align: center;
 }
