<body class="category-index">
  <div class="text-center">
    <h1 class="header-white text-center">Categories</h1>
    <br>
    <br>
    <div class="well category-list">
      <% @categories.each do |category| %>
      <h3><%= link_to category.name, category.slug %><h3>
        <% end %>
      </div>
    </div>
  </body>
